.container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #282c34;
}

.spanField {
  min-height: 40px;
  line-height: 40px;
  width: 60px;
  background-color: aliceblue;
  text-align: center;
  font-size: 18px;
  border: 1px solid black;
}

.counterButton {
  width: 100px;
}